{% extends "base_generic.html" %}

{% block title %}
<title>Library</title>
{% endblock %}

{% block content %}
    <h1>Local Library Home</h1>
    <p class="lead">Welcome to Local Library</p>

    <p>Book details : </p>
    <ul>
        <li>Books : {{ num_books }}</li>
        <li>Copies : {{ num_instances }}</li>
        <li>Copies available : {{ num_instances_available }}</li>
        <li>Authors : {{ num_authors }}</li>
        <li>Available Genres : {{ genre_list }}</li>
    </ul>
    <p>You've visited this page {{ num_visits }} times.</p>
{% endblock %}
